.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 16px;
  background-color: var(--btnsBg);
  color: white;
  cursor: pointer;
}

.button:disabled{
  background-color: var(--btnDisable);
  cursor: not-allowed;
}