.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}

.categoryItem.all-inclusive {
  background-color: #57c4ff31;
}

.categoryItem.guided-tours {
  background-color: #da85c731;
}

.categoryItem.luxury-travel {
  background-color: #7fb88133;
}

.categoryItem.cruise-packages {
  background-color: #ff795736;
}

.categoryItem.adventure-tours {
  background-color: #ffb04f45;
}

.categoryItem.beach-getaways {
  background-color: #5e4fff31;
}

.categoryItem.cultural-experiences {
  background-color: #5e4fff31;
}
