
.sidebar {
  position: fixed;
  z-index: 9;
  bottom: 30px;
  right: 15px;
}
.themeMenu p {
  color: #ffffff;
  position: absolute;
  right: 105%;
  opacity: 0;
  visibility: hidden;
  cursor: default;
  pointer-events: none;
  font-size: 18px;
  width: auto;
  padding: 5px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  background-color: rgb(0, 0, 0);
  bottom: 15px;
  

}

.themeMenu:hover p {
  right: calc(120% ); /* Adjust the value as needed */
  opacity: 1;
  visibility: visible;
  bottom: 8px;
}
.hamburgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 7px;
  font-size: 1.2rem;  color: #fff;
  background-color: #000000;
  transition: all 0.2s ease-in;
  cursor: pointer;
  /* border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; */
}
/* .hamburgerButton:hover {
  background-color: #00e00b;
} */


.hamburgerButton.open {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.navItem {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #1950FF;
  transition: all 0.2s ease-in-out;
}
.navItem:hover {
  background-color: #0036E0;
}
.navItem:hover .navItem__text {
  right: 120%;
  /* opacity: 1; */
  visibility: visible;
}

.navItem .navItem__text {
  color: #000000;
  position: absolute;
  right: 105%;
  visibility: hidden;
  cursor: default;
  pointer-events: none;
  font-size: 18px;
  width: auto;
  padding: 5px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  background: inherit;
}
.navItem svg {
  color: #fff;
  stroke-width: 2.5;
  width: 26px;
  height: 26px;
}
.navItem svg path {
  fill: #fff;
}

.navItem:last-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.navOpen .navItem {
  visibility: visible;
  
}
.navOpen .navItem:first-child {
  /*adventurer*/
  bottom: 60px;
  transition-duration: 0.15s;
  z-index: -1;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background: linear-gradient(135deg, #405d27, #6b8f23);

 
  
}
.navOpen .navItem:nth-child(2) {
    /*.romantic*/
  bottom: calc(52.1px * 2);
  transition-duration: 0.3s;
  z-index: -2;
  background: linear-gradient(120deg, #e96196 0%, #d7828b  74%);


}
.navOpen .navItem:nth-child(3) {
  /*beach*/
  bottom: calc(49.8px * 3);
  transition-duration: 0.45s;
  z-index: -3;
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

 
}
.navOpen .navItem:nth-child(4) {
  /*relax*/
  bottom: calc(48.7px * 4);
  transition-duration: 0.6s;
  z-index: -4;
  background: linear-gradient(120deg, #2c3e50 0%, #5263a7  74%);


}
.navOpen .navItem:nth-child(5) {
    /*party*/
  bottom: calc(48px * 5);
  transition-duration: 0.75s;
  z-index: -5;


}
.navOpen .navItem:last-child {
  bottom: calc(47.5px * 6);
  transition-duration: 0.75s;
  z-index: -6;
  background: linear-gradient(120deg, #ff9a00 0%, #c70039  74%);

}



.navClose .navItem {
  visibility: hidden;
  border-radius: 7px;
}
/* .hamburgerButton .hamburgerIcon {
  position: relative;
  width: 50%;
}
.hamburgerButton .hamburgerIcon .hamburgerLine {
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
}
.hamburgerButton .hamburgerIcon .hamburgerLine:not(:first-child):not(:last-child) {
  animation-name: hamburger;
  animation-duration: 0.15s;
  animation-delay: 0.15s;
  transform: scaleX(0);
}
.hamburgerButton .hamburgerIcon .hamburgerLine, .hamburgerButton .hamburgerIcon .hamburgerLine:first-child, .hamburgerButton .hamburgerIcon .hamburgerLine:last-child {
  animation-fill-mode: forwards;
}
.hamburgerButton .hamburgerIcon .hamburgerLine:first-child, .hamburgerButton .hamburgerIcon .hamburgerLine:last-child {
  position: absolute;
  width: 100%;
  transform-origin: 50%;
  transition: all 0.1s ease-out;
  animation-duration: 0.3s;
}
.hamburgerButton .hamburgerIcon .hamburgerLine:first-child {
  top: 0;
  animation-name: hamburgerFirst;
  transform: rotate(45deg);
}
.hamburgerButton .hamburgerIcon .hamburgerLine:last-child {
  top: 0;
  animation-name: hamburgerLast;
  transform: rotate(-45deg);
}
.hamburgerButton .hamburgerIcon.hamburgerOpen .hamburgerLine:not(:first-child):not(:last-child) {
  animation-name: hamburgerOpen;
  transform: scaleX(100%);
}
.hamburgerButton .hamburgerIcon.hamburgerOpen .hamburgerLine:first-child {
  top: -10px;
  transform: rotate(0);
  animation-name: hamburgerFirstOpen;
}
.hamburgerButton .hamburgerIcon.hamburgerOpen .hamburgerLine:last-child {
  top: 10px;
  transform: rotate(0);
  animation-name: hamburgerLastOpen;
}
@keyframes hamburger {
  0% {
    transform: scaleX(0);
 }
  100% {
    transform: scaleX(1);
 }
}
@keyframes hamburgerOpen {
  0% {
    transform: scaleX(1);
 }
  100% {
    transform: scaleX(0);
 }
}
@keyframes hamburgerFirst {
  0% {
    top: 0;
    transform: rotate(45deg);
 }
  50% {
    top: 0;
    transform: rotate(0);
 }
  100% {
    top: 10px;
    transform: rotate(0);
 }
}
@keyframes hamburgerLast {
  0% {
    top: 0;
    transform: rotate(-45deg);
 }
  50% {
    top: 0;
    transform: rotate(0);
 }
  100% {
    top: -10px;
    transform: rotate(0);
 }
}
@keyframes hamburgerFirstOpen {
  0% {
    top: 10px;
    transform: rotate(0);
 }
  50% {
    top: 0;
    transform: rotate(0);
 }
  100% {
    top: 0;
    transform: rotate(45deg);
 }
}
@keyframes hamburgerLastOpen {
  0% {
    top: -12px;
    transform: rotate(0);
 }
  50% {
    top: 0;
    transform: rotate(0);
 }
  100% {
    top: 0;
    transform: rotate(-45deg);
 }
} */