@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* --bg: #4C5B7F; */
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --textColor: #ffffff;
  --accent-color: #7fd3de;
  --softBg: #7fd3de;
  --softTextColor: #025e73;
  --navBarBg: #ffffff;
  --btnsBg: #c2b280;
  --btnDisable: #027b8e99;
  --navTextColor: #044586;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;

}

a {
  color: inherit;
  text-decoration: none;
}

/* Modos de viaje */
.adventurer {
  background: linear-gradient(135deg, #405d27, #6b8f23);
  --textColor: #f4f4f2;
  --accent-color: #a4c639;
  --softBg: #6b8f23;
  --softTextColor: #f4f4f2;
  --navBarBg: #2c3e1f;
  --btnsBg: #1e2a13;
  --btnDisable: #1e2a1399;
  --navTextColor:  #eeb20e;

}

.romantic {
  background-color: #81e961;
  background: linear-gradient(120deg, #e96196 0%, #ffffff 74%);
  --textColor: #6d213c;
  --accent-color: #f8f7f7;
  --softBg: #ffb6b9;
  --softTextColor: #6d213c;
  --navBarBg: #6d213c;
  --btnsBg: #a05268;
  --btnDisable: #a0526899;
  --navTextColor:  #cab0c0;
}

.beach {
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --textColor: #ffffff;
  --accent-color: #7fd3de;
  --softBg: #7fd3de;
  --softTextColor: #025e73;
  --navBarBg: #ffffff;
  --btnsBg: #c2b280;
  --btnDisable: #027b8e99;
  --navTextColor: #044586;
}

.relax {
  --bg: #a4b0f5;
  --textColor: #2c3e50;
  --accent-color: #8797d6;
  --softBg: #8797d6;
  --softTextColor: #dbdfea;
  --navBarBg: #47597e;
  --btnsBg: #303a52;
  --btnDisable: #303a5299;
}

.family {
  --bg: #ffffff;
  --textColor: #0e0c0d;
  --accent-color: #0079fb;
  --softBg: #eeac99;
  --softTextColor: #212121;
  --navBarBg: #0079fb;
  --btnsBg: #ac3b61;
  --btnDisable: #ac3b6199;
  --navTextColor: #ffffff;
}

.party {
  --bg: #ffcb47;
  --textColor: #2e1114;
  --accent-color: #c70039;
  --softBg: #ff9a00;
  --softTextColor: #8f5207;
  --navBarBg: #c70039;
  --btnsBg: #900c3f;
  --btnDisable: #900c3f99;
  --navTextColor:  #ffffff;
}

.colortheme {
  background: var(--bg);
  color: var(--textColor);
}

.accent {
  color: var(--accent-color);
}

.softText {
  color: var(--softTextColor);
}



/* .wrapper {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
} */
/* 
@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
} */

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
