
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  padding: 0 30px 0 30px;
}


.transparent {
  background-color: transparent !important;
}


.scrolled {
  background-color:  var(--navBarBg); 
  transition: background-color 0.5s ease;
  height: 70px;
  bottom: 0;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  flex: 1;
  text-align: left;
  margin-left: 60px;
  font-size: 36px;
  font-weight: bold;
  
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  font-size: 20px;
  right: 0;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
  .links{
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
